July_Python/Week3/day1/for_loop_basic1.py
June_Web_Fund/Exam/leaf.png
June_Web_Fund/Exam/search-dark.png
June_Web_Fund/Exam/sedum-s.jpg
June_Web_Fund/Exam/sempervivum-s.jpg
June_Web_Fund/Exam/succulents-1.jpg
June_Web_Fund/Exam/succulents-2.jpg
June_Web_Fund/Exam/succulents-functionality.mp4
June_Web_Fund/Exam/succulentshop.png
June_Web_Fund/Exam/images/succulents-functionality.mp4
June_Web_Fund/Exam/images/succulentshop.png
June_Web_Fund/Exam/images/assets/aeonium-s.jpg
June_Web_Fund/Exam/images/assets/alert-dark.png
June_Web_Fund/Exam/images/assets/aloe-m.jpg
June_Web_Fund/Exam/images/assets/aloe-s.jpg
June_Web_Fund/Exam/images/assets/arrow-light.png
June_Web_Fund/Exam/images/assets/cactus-s.jpg
June_Web_Fund/Exam/images/assets/cart-dark.png
June_Web_Fund/Exam/images/assets/echeveria-s.jpg
June_Web_Fund/Exam/images/assets/leaf.png
June_Web_Fund/Exam/images/assets/search-dark.png
June_Web_Fund/Exam/images/assets/sedum-s.jpg
June_Web_Fund/Exam/images/assets/sempervivum-s.jpg
June_Web_Fund/Exam/images/assets/succulents-1.jpg
June_Web_Fund/Exam/images/assets/succulents-2.jpg
June_Web_Fund/Week1/Day4/profile/pstyle.css
June_Web_Fund/Week2/Day3/assets.zip
**/.env
keiths_address.txt
react_imports_and_dependancies.txt
react_imports_and_dependancies.txt
