*{
    margin: 0;
    padding: 0;
}


.navbar{
    height: 60px;
    background-color: black;
    display: flex;
    /* padding: 0px 200px 0px 30px; */
}
.navoptions{
    height: 60px;
    width: 370px;
    background-color:black;
    color:white;
    position: relative;
    left: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navRight{
    width: 350px;
    height: 60px;
    background-color: black;
}
.navRight button{
    position: relative;
    top: 20px;
    left:120px;
    height: 25px;
    width: 70px;
    background-color: rgb(42,162,183);
    color: white;
}
.maincont{
    height: 460px;
    background-color:white;
    font-family: cursive;
}
/* /////USER CARD/////// */
.userCard{
    height: 200px;
    width: 270px;
    background-color: green;
    position:absolute;
    top: 110px;
    left: 95px;
}
.ucardBanner{
    height: 55px;
    background-color: rgb(42,162,183);
}
.usercontent{
    height: 145px;
    background-color: white;
    border: 3px solid gray;
    border-top: 0px;
    font-family: cursive;
}
.usercontent h2{
    position: relative;
    top: 20px;
    left: 18px;
}
.usercontent p{
    font-size: small;
    position: relative;
    top:20px;
    left:20px;
    margin: 0px 0px 0px;
}
.usercontent img{
    height: 12px;
    margin-right: 5px;
}
.usercontent a{
    position: relative;
    top:23px;
    left:20px;
}
#usercircle{
    height: 50px;
    position: absolute;
    top: 25px;
    border: 2px solid white;
    border-radius: 100px;
    left: 15px;
}
/* /////CONNECTIONS REQUEST BOX/////// */
.requestBox{
    height: 110px;
    width: 170px;
    background-color: green;
    position:relative;
    top: 50px;
    left: 390px;
}
.reqBoxBanner{
    height: 35px;
    background-color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-right: 5px;
    color: white;
    font-size: small;
}
.reqBoxBanner .count{
    border-radius: 100px;
    width: 17px;
    background-color:lightgray ;
    color: black;
    margin: 5px;
    padding: 1px;
    display: inline-flex;
    justify-content: center;
}
.reqBoxContent{
    height: 70px;
    background-color: white;
    border: 3px solid gray;
    border-top: 0px;
    position: relative;
    padding: 2px;
    display: flex; 
    justify-content:space-around;
}
.col1{
    position: relative;
    flex: 1;
    margin:8px;
}
.col2{
    flex: 2;
    position: relative;
}
.col3{
    flex: 2;
    position: relative;
    margin: 0px 0px 0px 10px;

}
.reqBoxContent img{
    height: 20px;
    position: relative;
    margin: 5px 0px 5px 0px;
}
.reqBoxContent p{
    height: 20px;
    position: relative;
    top: 8px;
    margin: 5px 0px 13px 0px;
    left:-10px
}
#opt{
    position: relative;
    margin-left:2;
    top: 10px;
}
/* /////EDUCATION BOX/////// */
.educationBox{
    height: 100px;
    width: 270px;
    background-color: green;
    position:absolute;
    top: 340px;
    left: 95px;
}
.edBoxBanner{
    height: 25px;
    background-color: rgb(51, 51, 51);
    color: white;
    display: flex;
    align-items: center;
    padding: 2px 0px 2px 20px ;
}
.edBoxCont{
    height: 60px;
    background-color: white;
    border: 3px solid gray;
    border-top: 0px;
    padding: 10px;
}
.edBoxCont p{
    font-size: small;
}
.date{
    color: rgb(123,123,123);
    font-size: smaller;
}
.edBoxCont .ln3{
    font-size: smaller;
}
/* /////YOUR CONNECTIONS BOX/////// */
.connectionsBox{
    height: 170px;
    width: 170px;
    background-color: green;
    position:relative;
    top: 80px;
    left: 390px;
}
.conBoxBanner{
    height: 35px;
    background-color: rgb(51, 51, 51);
    top: 110px;
    left: 390px;
    color: white;
    display: flex;
    justify-content: center;
    justify-content:space-evenly ;
    align-items: center;
}
.conBoxBanner .count{
    border-radius: 50%;
    background-color: lightgrey;
    color: black;
    width: 30px;
    padding: 0px 3px 0px 3px;
}
.conBoxBanner p{
    font-size: smaller;
    position: relative;
}
.connectBoxCont{
    height: 100px;
    background-color: white;
    border: 3px solid gray;
    border-top: 0px;
    padding: 3px;
}
.connectBoxCont img{
    height: 20px;
    position: relative;
    top: 3px;
    margin-right: 10px;
    margin-left: 5px;
}
.contBoxFooter{
    height: 30px;
    background-color: white;
    left: 390px;
    border: 3px solid gray;
    border-top: 0px;
}
.contBoxFooter a{
    margin-left: 10px;
}